<nav class="navbar navbar-expand-md navbar-light bg-light-1 as-font-22">
    <div class="back-icon	fa fa-chevron-left"></div>
    <a href="#" class="navbar-brand">
        <img src="../../../assets/images/Sansera-Logo.png" height="35" alt="Sansera">
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ml-auto">
            <div href="#" class="nav-item nav-link active  mr-5">Process Data Sheet</div>


        </div>
        <div class="navbar-nav ml-auto">
            <div class="fa fa-home as-align-center"></div>
            <div class="nav-item nav-link">Pavin</div>
            <div>
                <img src="../../../assets/images/user.png" class="user-img" alt="user">
            </div>

        </div>
    </div>
</nav>
<form>

    <div class="row mx-4 mt-4 mb-2 justify-content-between">
        <div class="as-font-22">
            DDG-1101 : Double Disk Grinding
        </div>
        <div>
            <div>
                <ul>
                    <li>
                        Report
                    </li>
                    <li>
                        : QA/F/04 Rev:01
                    </li>
                </ul>
                <ul>
                    <li>
                        Date
                    </li>
                    <li>
                        : 25-02-2021
                    </li>
                </ul>
            </div>

        </div>

    </div>



<div class="col-md-12">
    <div class="row">
        <div class="col-md-3">
            <div class="as-box-shadow as-font-14 as-min-h-80">
                <!-- /*as-m-h76 as-h-fit*/ -->
                <div class="">
                    <label class="asfont-16 as-bold">QAD </label>
                    <div class="">05 R:01</div>
                </div>
                <div class="">
                    <label class="asfont-16 as-bold">Issue</label>
                    <div>01</div>
                </div>
                <div class="">
                    <label class="asfont-16 as-bold">Component No </label>
                    <div>FMCR0001</div>
                </div>
    
                <div class="">
                    <label class="asfont-16 as-bold">Componet  Name</label>
                    <div>Connecting Rod</div>
                </div>
                <div class="">
                    <label class="asfont-16 as-bold">Shift</label>
                    <div>2</div>
                </div>
                <div class="">
                    <label class="asfont-16 as-bold">Operation</label>
                    <div>2</div>
                </div>
                <div class="">
                    <label class="asfont-16 as-bold">MC No</label>
                    <div>22145</div>
                </div>
                <div class="">
                    <label class="asfont-16 as-bold">Fix No</label>
                    <div>28-08-2018</div>
                </div>
                <div class="">
                    <label class="asfont-16 as-bold">Operator</label>
                    <div>Kumar</div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-5 as-col-md-5 as-mx-6 as-box-shadow ">
                    <div class="row ">
                        <div class="w-5 as-align-center">
                            01
                        </div>
                        <div class="ml-3">
                            <label class="asfont-16 as-bold">Parameter</label>
                            <div>Face unclear, Burnings & damages</div>
                        </div>
                    </div>
                        <div class="row">
                        <div class="">
                            <label class="asfont-16 as-bold">Specification</label>
                            <div>Not Allowed</div>
                        </div>
                        <div class="ml-3">
                            <label class="asfont-16 as-bold">Frequency</label>
                            <div>100%
                            </div>
                        </div>
                    </div>
                        <div class="row">
                        <div class="">
                            <label class="asfont-16 as-bold">Inspection</label>
                            <div>micrometer (LC.001V ) snap gauge
                            </div>
                        </div>
                    </div>
                   
                    <div class="  row align-items-center flex-nowrap">
                        <div>
                            <div>
                                <input type="text" placeholder="Min"  class="fadeIn second">
                            </div>
                            <div>
                                <input type="text" placeholder="Max" class="fadeIn second">
                            </div>
                        </div>
                      <div>
                        <textarea  rows="3" cols="50" placeholder="Remarks"></textarea>
                      </div>
                    </div>
                </div>
                <div class="col-md-5 as-col-md-5 as-mx-6 as-box-shadow ">
                    <div class="row ">
                        <div class="w-5 as-align-center">
                            02
                        </div>
                        <div class="ml-3">
                            <label class="asfont-16 as-bold">Parameter</label>
                            <div>Face unclear, Burnings & damages</div>
                        </div>
                    </div>
                        <div class="row">
                        <div class="">
                            <label class="asfont-16 as-bold">Specification</label>
                            <div>Not Allowed</div>
                        </div>
                        <div class="ml-3">
                            <label class="asfont-16 as-bold">Frequency</label>
                            <div>100%
                            </div>
                        </div>
                    </div>
                        <div class="row">
                        <div class="">
                            <label class="asfont-16 as-bold">Inspection</label>
                            <div>micrometer (LC.001V ) snap gauge
                            </div>
                        </div>
                    </div>
                   
                    <div class="  row align-items-center flex-nowrap">
                        <div>
                            <div>
                                <input type="text" placeholder="Min"  class="fadeIn second">
                            </div>
                            <div>
                                <input type="text" placeholder="Max" class="fadeIn second">
                            </div>
                        </div>
                      <div>
                        <textarea  rows="3" cols="50" placeholder="Remarks"></textarea>
                      </div>
                    </div>
                </div>
                <div class="col-md-5 as-col-md-5 as-mx-6 as-box-shadow ">
                    <div class="row ">
                        <div class="w-5 as-align-center">
                            03
                        </div>
                        <div class="ml-3">
                            <label class="asfont-16 as-bold">Parameter</label>
                            <div>Face unclear, Burnings & damages</div>
                        </div>
                    </div>
                        <div class="row">
                        <div class="">
                            <label class="asfont-16 as-bold">Specification</label>
                            <div>Not Allowed</div>
                        </div>
                        <div class="ml-3">
                            <label class="asfont-16 as-bold">Frequency</label>
                            <div>100%
                            </div>
                        </div>
                    </div>
                        <div class="row">
                        <div class="">
                            <label class="asfont-16 as-bold">Inspection</label>
                            <div>micrometer (LC.001V ) snap gauge
                            </div>
                        </div>
                    </div>
                   
                    <div class="  row align-items-center flex-nowrap">
                        <div>
                            <div>
                                <input type="text" placeholder="Min"  class="fadeIn second">
                            </div>
                            <div>
                                <input type="text" placeholder="Max" class="fadeIn second">
                            </div>
                        </div>
                      <div>
                        <textarea  rows="3" cols="50" placeholder="Remarks"></textarea>
                      </div>
                    </div>
                </div>
                <div class="col-md-5 as-col-md-5 as-mx-6 as-box-shadow ">
                    <div class="row ">
                        <div class="w-5 as-align-center">
                            04
                        </div>
                        <div class="ml-3">
                            <label class="asfont-16 as-bold">Parameter</label>
                            <div>Face unclear, Burnings & damages</div>
                        </div>
                    </div>
                        <div class="row">
                        <div class="">
                            <label class="asfont-16 as-bold">Specification</label>
                            <div>Not Allowed</div>
                        </div>
                        <div class="ml-3">
                            <label class="asfont-16 as-bold">Frequency</label>
                            <div>100%
                            </div>
                        </div>
                    </div>
                        <div class="row">
                        <div class="">
                            <label class="asfont-16 as-bold">Inspection</label>
                            <div>micrometer (LC.001V ) snap gauge
                            </div>
                        </div>
                    </div>
                   
                    <div class="  row align-items-center flex-nowrap">
                        <div>
                            <div>
                                <input type="text" placeholder="Min"  class="fadeIn second">
                            </div>
                            <div>
                                <input type="text" placeholder="Max" class="fadeIn second">
                            </div>
                        </div>
                      <div>
                        <textarea  rows="3" cols="50" placeholder="Remarks"></textarea>
                      </div>
                    </div>
                </div>
                <div class="col-md-5 as-col-md-5 as-mx-6 as-box-shadow ">
                    <div class="row ">
                        <div class="w-5 as-align-center">
                            05
                        </div>
                        <div class="ml-3">
                            <label class="asfont-16 as-bold">Parameter</label>
                            <div>Face unclear, Burnings & damages</div>
                        </div>
                    </div>
                        <div class="row">
                        <div class="">
                            <label class="asfont-16 as-bold">Specification</label>
                            <div>Not Allowed</div>
                        </div>
                        <div class="ml-3">
                            <label class="asfont-16 as-bold">Frequency</label>
                            <div>100%
                            </div>
                        </div>
                    </div>
                        <div class="row">
                        <div class="">
                            <label class="asfont-16 as-bold">Inspection</label>
                            <div>micrometer (LC.001V ) snap gauge
                            </div>
                        </div>
                    </div>
                   
                    <div class="  row align-items-center flex-nowrap">
                        <div>
                            <div>
                                <input type="text" placeholder="Min"  class="fadeIn second">
                            </div>
                            <div>
                                <input type="text" placeholder="Max" class="fadeIn second">
                            </div>
                        </div>
                      <div>
                        <textarea  rows="3" cols="50" placeholder="Remarks"></textarea>
                      </div>
                    </div>
                </div>
                <div class="col-md-5 as-col-md-5 as-mx-6 as-box-shadow ">
                    <div class="row ">
                        <div class="w-5 as-align-center">
                            06
                        </div>
                        <div class="ml-3">
                            <label class="asfont-16 as-bold">Parameter</label>
                            <div>Face unclear, Burnings & damages</div>
                        </div>
                    </div>
                        <div class="row">
                        <div class="">
                            <label class="asfont-16 as-bold">Specification</label>
                            <div>Not Allowed</div>
                        </div>
                        <div class="ml-3">
                            <label class="asfont-16 as-bold">Frequency</label>
                            <div>100%
                            </div>
                        </div>
                    </div>
                        <div class="row">
                        <div class="">
                            <label class="asfont-16 as-bold">Inspection</label>
                            <div>micrometer (LC.001V ) snap gauge
                            </div>
                        </div>
                    </div>
                   
                    <div class="  row align-items-center flex-nowrap">
                        <div>
                            <div>
                                <input type="text" placeholder="Min"  class="fadeIn second">
                            </div>
                            <div>
                                <input type="text" placeholder="Max" class="fadeIn second">
                            </div>
                        </div>
                      <div>
                        <textarea  rows="3" cols="50" placeholder="Remarks"></textarea>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="px-4 d-flex bg-white justify-content-between approve">
        <div class="my-3">
            <div>
                <label class="asfont-16 as-bold">Entered By</label>
                <input type="text"  value="Ajay Gupta" class="fadeIn third">
            </div>
            
        </div>
        
        <div class="as-align-center1">
            <button type="submit" class="btn btn-blue">Submit</button>
        </div>
    </div>
</form>
