
    <nav class="navbar navbar-expand-md navbar-light bg-light-1 as-font-22 d-none">
        <a href="#" class="navbar-brand">
            <img src="../../../assets/images/Sansera-Logo.png" height="35" alt="CoolBrand">
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ml-auto">
                <div href="#" class="nav-item nav-link active  mr-5" >Select Operation</div>
                <div href="#" class="nav-item nav-link active  mr-5" >Shift 1</div>
                
            </div>
            <div class="navbar-nav ml-auto">
                <div class="nav-item nav-link">Pavin</div>
                <div>
                    <img src="../../../assets/images/user.png"  class="user-img" alt="user">
                </div>
           
            </div>
        </div>
    </nav>
    
    
    <router-outlet></router-outlet>


