<nav class="navbar navbar-expand-md navbar-light bg-light-1 as-font-22">
    <div class="back-icon	fa fa-chevron-left"></div>
    <a href="#" class="navbar-brand">
        <img src="../../../assets/images/Sansera-Logo.png" height="35" alt="Sansera">
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ml-auto">
            <div href="#" class="nav-item nav-link active  mr-5">Job Set-Up Approval</div>


        </div>
        <div class="navbar-nav ml-auto">
            <div class="fa fa-home as-align-center"></div>
            <div class="nav-item nav-link">Pavin</div>
            <div>
                <img src="../../../assets/images/user.png" class="user-img" alt="user">
            </div>

        </div>
    </div>
</nav>
<form>
    <div class="row mx-4 mt-4 mb-2 justify-content-between">
        <div class="as-font-22">
            DDG-1101 : Double Disk Grinding
        </div>
        <div>
            <div>
                <ul>
                    <li>
                        Report
                    </li>
                    <li>
                        : QA/F/04 Rev:01
                    </li>
                </ul>
                <ul>
                    <li>
                        Date
                    </li>
                    <li>
                        : 25-02-2021
                    </li>
                </ul>
            </div>

        </div>

    </div>
    <div class="row mx-4">
        <div class="as-box-shadow as-font-14 ">
            <!-- /*as-m-h76 as-h-fit*/ -->
            <div class="">
                <label class="asfont-16 as-bold">Part Name </label>
                <div class="">Con Rod</div>
            </div>
            <div class="">
                <label class="asfont-16 as-bold">Part No</label>
                <div>FMCR0001</div>
            </div>
            <div class="">
                <label class="asfont-16 as-bold">Operation Stage </label>
                <div>Rough Grinding</div>
            </div>

            <div class="">
                <label class="asfont-16 as-bold">M/c Name & No </label>
                <div>DOG-1101</div>
            </div>
            <div class="">
                <label class="asfont-16 as-bold">Name Of Supervisor </label>
                <div>Pavin</div>
            </div>
            <div class="">
                <label class="asfont-16 as-bold">SPEED </label>
                <div>120</div>
            </div>
            <div class="">
                <label class="asfont-16 as-bold">Line No </label>
                <div>12345</div>
            </div>
            <div class="">
                <label class="asfont-16 as-bold">Name Of Setter </label>
                <div>Name</div>
            </div>
            <div class="">
                <label class="asfont-16 as-bold">Name Of Inspector</label>
                <div>Name</div>
            </div>
            <div class="">
                <label class="asfont-16 as-bold">Feed</label>
                <div>feed</div>
            </div>
            <div class="">
                <label class="asfont-16 as-bold">Shift</label>
                <div>2</div>
            </div>
            <div class="">
                <label class="asfont-16 as-bold">Time</label>
                <div>12:05 pm</div>
            </div>
            <div class="">
                <label class="asfont-16 as-bold">Poka Yoke</label>
                <div>12:05 pm</div>
            </div>

        </div>
        <div class="as-ml-2 w-74 as-relative">
            <div class="as-box-shadow mb-3">
                <div class="row ">
                    <div class="w-5 as-align-center">
                        01
                    </div>
                    <div class="w-33 mr-3">
                        <label class="asfont-16 as-bold">Parameter</label>
                        <div>Web Symmetry w.r.t Web thickness </div>
                    </div>
                    <div class="w-25">
                        <label class="asfont-16 as-bold">Specification</label>
                        <div>0.5</div>
                    </div>
                    <div class="w-33">
                        <label class="asfont-16 as-bold">Inspection</label>
                        <div>"Ht.gauge with lever dial & V-Block (LC:0.01)"
                        </div>
                    </div>
                </div>
                <label class="asfont-16 as-bold">Top 5 Entry</label>
                <div class="  row align-items-center flex-nowrap">
                    <div>
                        <input type="text"  class="fadeIn second">
                    </div>
                    <div>
                        <input type="text"  class="fadeIn second">
                    </div>
                    <div>
                        <input type="text"  class="fadeIn second">
                    </div>
                    <div>
                        <input type="text"  class="fadeIn second">
                    </div>
                    <div>
                        <input type="text"  class="fadeIn second">
                    </div>
                </div>
            </div>
               <div class="as-box-shadow mb-3">
                <div class="row ">
                    <div class="w-5 as-align-center">
                        02
                    </div>
                    <div class="w-33 mr-3">
                        <label class="asfont-16 as-bold">Parameter</label>
                        <div>Thickness</div>
                    </div>
                    <div class="w-25">
                        <label class="asfont-16 as-bold">Specification</label>
                        <div>19.57a0.05</div>
                    </div>
                    <div class="w-33">
                        <label class="asfont-16 as-bold">Inspection</label>
                        <div>micrometer (LC.001V ) snap gauge</div>
                    </div>
                </div>
                <label class="asfont-16 as-bold">Top 5 Entry</label>
                <div class="  row align-items-center flex-nowrap">
                    <div>
                        <input type="text"  class="fadeIn second">
                    </div>
                    <div>
                        <input type="text"  class="fadeIn second">
                    </div>
                    <div>
                        <input type="text"  class="fadeIn second">
                    </div>
                    <div>
                        <input type="text"  class="fadeIn second">
                    </div>
                    <div>
                        <input type="text"  class="fadeIn second">
                    </div>
                </div>
            </div>
            <div class="as-box-shadow mb-3">
                <div class="row ">
                    <div class="w-5 as-align-center">
                        03
                    </div>
                    <div class="w-33 mr-3">
                        <label class="asfont-16 as-bold">Parameter</label>
                        <div>Web Symmetry w.r.t Web thickness </div>
                    </div>
                    <div class="w-25">
                        <label class="asfont-16 as-bold">Specification</label>
                        <div>0.5</div>
                    </div>
                    <div class="w-33">
                        <label class="asfont-16 as-bold">Inspection</label>
                        <div>"Ht.gauge with lever dial & V-Block (LC:0.01)"
                        </div>
                    </div>
                </div>
                <label class="asfont-16 as-bold">Top 5 Entry</label>
                <div class="  row align-items-center flex-nowrap">
                    <div>
                        <input type="text"  class="fadeIn second">
                    </div>
                    <div>
                        <input type="text"  class="fadeIn second">
                    </div>
                    <div>
                        <input type="text"  class="fadeIn second">
                    </div>
                    <div>
                        <input type="text"  class="fadeIn second">
                    </div>
                    <div>
                        <input type="text"  class="fadeIn second">
                    </div>
                </div>
            </div>
               <div class="as-box-shadow mb-3">
                <div class="row ">
                    <div class="w-5 as-align-center">
                        04
                    </div>
                    <div class="w-33 mr-3">
                        <label class="asfont-16 as-bold">Parameter</label>
                        <div>Thickness</div>
                    </div>
                    <div class="w-25">
                        <label class="asfont-16 as-bold">Specification</label>
                        <div>19.57a0.05</div>
                    </div>
                    <div class="w-33">
                        <label class="asfont-16 as-bold">Inspection</label>
                        <div>micrometer (LC.001V ) snap gauge</div>
                    </div>
                </div>
                <label class="asfont-16 as-bold">Top 5 Entry</label>
                <div class="  row align-items-center flex-nowrap">
                    <div>
                        <input type="text"  class="fadeIn second">
                    </div>
                    <div>
                        <input type="text"  class="fadeIn second">
                    </div>
                    <div>
                        <input type="text"  class="fadeIn second">
                    </div>
                    <div>
                        <input type="text"  class="fadeIn second">
                    </div>
                    <div>
                        <input type="text"  class="fadeIn second">
                    </div>
                </div>
            </div>
            <div class="as-box-shadow mb-3">
                <div class="row ">
                    <div class="w-5 as-align-center">
                        05
                    </div>
                    <div class="w-33 mr-3">
                        <label class="asfont-16 as-bold">Parameter</label>
                        <div>Web Symmetry w.r.t Web thickness </div>
                    </div>
                    <div class="w-25">
                        <label class="asfont-16 as-bold">Specification</label>
                        <div>0.5</div>
                    </div>
                    <div class="w-33">
                        <label class="asfont-16 as-bold">Inspection</label>
                        <div>"Ht.gauge with lever dial & V-Block (LC:0.01)"
                        </div>
                    </div>
                </div>
                <label class="asfont-16 as-bold">Top 5 Entry</label>
                <div class="  row align-items-center flex-nowrap">
                    <div>
                        <input type="text"  class="fadeIn second">
                    </div>
                    <div>
                        <input type="text"  class="fadeIn second">
                    </div>
                    <div>
                        <input type="text"  class="fadeIn second">
                    </div>
                    <div>
                        <input type="text"  class="fadeIn second">
                    </div>
                    <div>
                        <input type="text"  class="fadeIn second">
                    </div>
                </div>
            </div>
               <div class="as-box-shadow mb-3">
                <div class="row ">
                    <div class="w-5 as-align-center">
                        06
                    </div>
                    <div class="w-33 mr-3">
                        <label class="asfont-16 as-bold">Parameter</label>
                        <div>Thickness</div>
                    </div>
                    <div class="w-25">
                        <label class="asfont-16 as-bold">Specification</label>
                        <div>19.57a0.05</div>
                    </div>
                    <div class="w-33">
                        <label class="asfont-16 as-bold">Inspection</label>
                        <div>micrometer (LC.001V ) snap gauge</div>
                    </div>
                </div>
                <label class="asfont-16 as-bold">Top 5 Entry</label>
                <div class="  row align-items-center flex-nowrap">
                    <div>
                        <input type="text"  class="fadeIn second">
                    </div>
                    <div>
                        <input type="text"  class="fadeIn second">
                    </div>
                    <div>
                        <input type="text"  class="fadeIn second">
                    </div>
                    <div>
                        <input type="text"  class="fadeIn second">
                    </div>
                    <div>
                        <input type="text"  class="fadeIn second">
                    </div>
                </div>
            </div>
            <div class="as-box-shadow mb-3">
                <div class="row ">
                    <div class="w-5 as-align-center">
                        07
                    </div>
                    <div class="w-33 mr-3">
                        <label class="asfont-16 as-bold">Parameter</label>
                        <div>Web Symmetry w.r.t Web thickness </div>
                    </div>
                    <div class="w-25">
                        <label class="asfont-16 as-bold">Specification</label>
                        <div>0.5</div>
                    </div>
                    <div class="w-33">
                        <label class="asfont-16 as-bold">Inspection</label>
                        <div>"Ht.gauge with lever dial & V-Block (LC:0.01)"
                        </div>
                    </div>
                </div>
                <label class="asfont-16 as-bold">Top 5 Entry</label>
                <div class="  row align-items-center flex-nowrap">
                    <div>
                        <input type="text"  class="fadeIn second">
                    </div>
                    <div>
                        <input type="text"  class="fadeIn second">
                    </div>
                    <div>
                        <input type="text"  class="fadeIn second">
                    </div>
                    <div>
                        <input type="text"  class="fadeIn second">
                    </div>
                    <div>
                        <input type="text"  class="fadeIn second">
                    </div>
                </div>
            </div>
               <div class="as-box-shadow mb-3">
                <div class="row ">
                    <div class="w-5 as-align-center">
                        08
                    </div>
                    <div class="w-33 mr-3">
                        <label class="asfont-16 as-bold">Parameter</label>
                        <div>Thickness</div>
                    </div>
                    <div class="w-25">
                        <label class="asfont-16 as-bold">Specification</label>
                        <div>19.57a0.05</div>
                    </div>
                    <div class="w-33">
                        <label class="asfont-16 as-bold">Inspection</label>
                        <div>micrometer (LC.001V ) snap gauge</div>
                    </div>
                </div>
                <label class="asfont-16 as-bold">Top 5 Entry</label>
                <div class="  row align-items-center flex-nowrap">
                    <div>
                        <input type="text"  class="fadeIn second">
                    </div>
                    <div>
                        <input type="text"  class="fadeIn second">
                    </div>
                    <div>
                        <input type="text"  class="fadeIn second">
                    </div>
                    <div>
                        <input type="text"  class="fadeIn second">
                    </div>
                    <div>
                        <input type="text"  class="fadeIn second">
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="mx-4 d-flex approve">
        <div class="">
            <div>
                <label class="asfont-16 as-bold">Prepared By</label>
                <input type="text" id="password" value="Ajay Gupta" class="fadeIn third">
            </div>
            <div>
                <label class="asfont-16 as-bold"> Approved By</label>
                <input type="text" id="password" value="Praveen Pais" class="fadeIn third">
            </div>
        </div>
        <div class="as-mx-30">
            <label class="asfont-16 as-bold"> Abnormality Details</label>
            <div> <textarea class="form-control" rows="4" cols="50" placeholder="Remarks"></textarea></div>

        </div>
        <div class="as-align-center">
            <button type="submit" class="btn btn-blue">Submit</button>
        </div>
    </div>
</form>