.login-box {
    padding: 60px;
}

.as-wrapper {
    min-height: 90vh;
}

input[type=text],
.dropdown-toggle {

    height: 66px;
}

::ng-deep .mat-select-arrow {
    border-left: 24px solid transparent !important;
    border-right: none !important;
    border-top: 15px solid transparent !important;
    border-image-source: url('../../../assets/images/Icon\ awesome-angle-down.svg') !important;
    border-image-repeat: stretch !important;
}