
    <nav class="navbar navbar-expand-md navbar-light bg-light-1 as-font-22">
        <div class="back-icon	fa fa-chevron-left"></div>
        <a href="#" class="navbar-brand">
            <img src="../../../assets/images/Sansera-Logo.png" height="35" alt="Sansera">
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ml-auto">
                <div href="#" class="nav-item nav-link active  mr-5" >Upload Details</div>
              
                
            </div>
            <div class="navbar-nav ml-auto">
                <div class="nav-item nav-link">Admin</div>
                <div>
                    <img src="../../../assets/images/user.png"  class="user-img" alt="user">
                </div>
           
            </div>
        </div>
    </nav>
    <form >

        <div class="as-add">
            <div class="as-add-txt">Add <i class="as-add-icon fa fa-plus-circle" aria-hidden="true"></i></div>
        </div>
        <div class="as-table">
            <table class="table table-striped">
                <thead>
                <tr>
                  <th scope="col"><div class="right-border">S.No</div> </th>
                  <th scope="col"><div class="right-border">File Name</div> </th>
                  <th scope="col"><div class="right-border">Machine Name</div> </th>
                  <th scope="col"><div  class="right-border">Equip Number</div></th>
                  <th scope="col"><div class="right-border">Component</div></th>
                  <th scope="col"><div class=""></div></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let operation of operations; index as i">
                  <td scope="row"><div class="right-border">{{ i + 1 }}</div></td>
                  <td><div class="right-border">{{ operation.FileName  }}</div>
                  </td>
                  <td><div class="right-border">{{ operation.macName }}</div></td>
                  <td><div class="right-border">{{ operation.EquipNumber  }}</div></td>
                  <td><div class="right-border">{{ operation.Component  }}</div></td>
                  <td><div ><i class="fa fa-pencil-square-o" aria-hidden="true"></i> <i class="fa fa-trash text-danger ml-3" aria-hidden="true"></i> </div></td>
                </tr>
                </tbody>
              </table>
        </div>
      
    </form>