<form >
    <div class="as-wrapper fadeInDown">
        <div class="login-box d-flex justify-content-between">

            <div class="">
                <img src="../../../assets/images/Sansera-Logo.png" width="250" id="icon" alt="Icon" />
            </div>
            <div>
                <div>
                    <div>
                        <label class="label">User Id</label>
                        <input type="text" id="login" class="fadeIn second" name="login" >
                    </div>
                    <div>
                        <label class="label">Password</label>
                        <input type="text" id="password" class="fadeIn third" name="login" >
                    </div>
                   <div>
                    <button type="submit" class="btn btn-blue"> Log In</button>
                   </div>
                    
                   
                </div>
                <div class="d-flex  justify-content-between">
                    <a class="underlineHover" href="">Qualtity Policy</a>
                    <a class="underlineHover" href="">Forget Password</a>
                </div>
            </div>



        </div>
    </div>
</form>