<nav class="navbar navbar-expand-md navbar-light bg-light-1 as-font-22">
    <div class="back-icon	fa fa-chevron-left"></div>
    <a href="#" class="navbar-brand">
        <img src="../../../assets/images/Sansera-Logo.png" height="35" alt="Sansera">
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ml-auto">
            <div href="#" class="nav-item nav-link active  mr-5">Select Operation</div>
            <div href="#" class="nav-item nav-link active  mr-5">Shift 1</div>

        </div>
        <div class="navbar-nav ml-auto">
            <div class="nav-item nav-link">Pavin</div>
            <div>
                <img src="../../../assets/images/user.png" class="user-img" alt="user">
            </div>

        </div>
    </div>
</nav>
<form>
    <div class="login-box">
        <div class="row">
            <div class="mr-4">
                <label class="asfont-16 mb-2 as-bold">Op.No</label>
                <div>01</div>
            </div>
            <div class="mr-4">
                <label class="asfont-16 mb-2 as-bold">Eq.No</label>
                <div>DDG-1101</div>
            </div>
            <div class="mr-4">
                <label class="asfont-16 mb-2 as-bold">Machine Name</label>
                <div>Double Disk Grinding</div>
            </div>

        </div>
        <div class="col-md-12 p-0 mt-4">
            <div class="row  addbtn">
                <div class="col-md-3 btn as-man-btn">
                    PROCESS DRAWING
                </div>
                <div class="col-md-3 btn as-man-btn">
                    CONTROL PLAN
                </div>
                <div class="col-md-3 btn as-man-btn">
                    SOS
                </div>
                <div class="col-md-3 btn as-man-btn">
                    JES-PROD
                </div>
                <div class="col-md-3 btn as-man-btn">
                    JES-QA
                </div>
                <div class="col-md-3 btn as-man-btn">
                    ABNOMALITY HANDLING
                </div>
                <div class="col-md-3 btn as-man-btn">
                    CALIB CODE
                </div>
                <div class="col-md-3 btn as-man-btn">
                    WORK INSTRUCTION
                </div>
                <div class="col-md-3 btn as-man-btn" style="position: relative;">
                    <div class="man-icon"></div>
                    AUTONOMOUS
                    CHECK SHEET
                </div>
                <div class="col-md-3 btn as-man-btn">
                    <div class="man-icon"></div>
                    JOB SETUP
                    APPROVAL
                </div>
                <div class="col-md-3 btn as-man-btn">
                    <div class="man-icon"></div>
                    JOB INSPECTION
                    RECORD
                </div>
                <div class="col-md-3 btn as-man-btn">
                    <div class="man-icon"></div>
                    PROCESS DATA
                    SHEET
                </div>
                <div class="col-md-3 btn as-man-btn">
                    TOOL CARD
                </div>
                <div>
                    <button class="btn btnadd"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add</button>
                </div>
            </div>
        </div>

    </div>
</form>