<nav class="navbar navbar-expand-md navbar-light bg-light-1 as-font-22">
    <div class="back-icon	fa fa-chevron-left"></div>
    <a href="#" class="navbar-brand">
        <img src="../../../assets/images/Sansera-Logo.png" height="35" alt="Sansera">
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ml-auto">
            <div href="#" class="nav-item nav-link active  mr-5">Autonomous Check Sheet</div>


        </div>
        <div class="navbar-nav ml-auto">
            <div class="fa fa-home as-align-center"></div>
            <div class="nav-item nav-link">Pavin</div>
            <div>
                <img src="../../../assets/images/user.png" class="user-img" alt="user">
            </div>

        </div>
    </div>
</nav>
<form>
    <div class="row mx-4 mt-4 mb-2 justify-content-between">
        <div class="as-font-22">
            DDG-1101 : Double Disk Grinding
        </div>
        <div>
            <div>
                <ul>
                    <li>
                        Report
                    </li>
                    <li>
                        : QA/F/04 Rev:01
                    </li>
                </ul>
                <ul>
                    <li>
                        Date
                    </li>
                    <li>
                        : 25-02-2021
                    </li>
                </ul>
            </div>

        </div>

    </div>
    <div class="row mx-4">
        <div class="as-box-shadow as-font-14 "> <!-- /*as-m-h76 as-h-fit*/ -->
            <div class="">
                <label class="asfont-16 as-bold">Department </label>
                <div class="">Proouction</div>
            </div>
            <div class="">
                <label class="asfont-16 as-bold">Operation</label>
                <div>Finish Boring</div>
            </div>
            <div class="">
                <label class="asfont-16 as-bold">Plant </label>
                <div>11</div>
            </div>

            <div class="">
                <label class="asfont-16 as-bold">Machine Name </label>
                <div>DOG-1101</div>
            </div>
            <div class="">
                <label class="asfont-16 as-bold">Cell Name </label>
                <div>Conroo Cell</div>
            </div>
        </div>
        <div class="as-ml-2 w-76 as-relative">
            <div class="as-box-shadow  row align-items-center">
                <div>
                    01
                </div>
                <div class="check-img-div">
                    <div class="check-img" style="background-image: url(../../../assets/images/cont.png);"></div>
                </div>
                <div>
                    <div class="d-flex justify-content-between">
                        <div>
                            <label>Process Drawing & Control Plan</label>
                            <div class="as-font-14">Frequency - 80%</div>
                            <div class="as-font-14">Proper Documents For Present Method</div>
                        </div>
                        <div class="legend-bg">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </div>
                    </div>
                   
                    <div class="d-flex justify-content-between">
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-select  matNativeControl required
                                    formControlName="shift_num" value="123" panelClass="dropDown-seasons-panel">
                                    <mat-option value="all">All</mat-option>
          
                                    <mat-option  value="123">
                                        123
                                    </mat-option>
                                    <mat-option  value="123">
                                        123
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div>
                            <textarea  rows="2"  placeholder="Remarks"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="as-box-shadow mt-3 row align-items-center">
                <div>
                    01
                </div>
                <div class="check-img-div">
                    <div class="check-img" style="background-image: url(../../../assets/images/cont.png);"></div>
                </div>
                <div>
                    <div class="d-flex justify-content-between">
                        <div>
                            <label>Process Drawing & Control Plan</label>
                            <div class="as-font-14">Frequency - 80%</div>
                            <div class="as-font-14">Proper Documents For Present Method</div>
                        </div>
                        <div class="legend-bg">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </div>
                    </div>
                   
                    <div class="d-flex justify-content-between">
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-select  matNativeControl required
                                    formControlName="shift_num"  panelClass="dropDown-seasons-panel">
                                    <mat-option value="all">All</mat-option>
          
                                    <mat-option  value="123">
                                        123
                                    </mat-option>
                                    <mat-option  value="123">
                                        123
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div>
                            <textarea  rows="2"  placeholder="Remarks"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="as-box-shadow mt-3 row align-items-center">
                <div>
                    01
                </div>
                <div class="check-img-div">
                    <div class="check-img" style="background-image: url(../../../assets/images/cont.png);"></div>
                </div>
                <div>
                    <div class="d-flex justify-content-between">
                        <div>
                            <label>Process Drawing & Control Plan</label>
                            <div class="as-font-14">Frequency - 80%</div>
                            <div class="as-font-14">Proper Documents For Present Method</div>
                        </div>
                        <div class="legend-bg">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </div>
                    </div>
                   
                    <div class="d-flex justify-content-between">
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-select  matNativeControl required
                                    formControlName="shift_num"  panelClass="dropDown-seasons-panel">
                                    <mat-option value="all">All</mat-option>
          
                                    <mat-option  value="123">
                                        123
                                    </mat-option>
                                    <mat-option  value="123">
                                        123
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div>
                            <textarea  rows="2"  placeholder="Remarks"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="as-box-shadow mt-3 row align-items-center">
                <div>
                    01
                </div>
                <div class="check-img-div">
                    <div class="check-img" style="background-image: url(../../../assets/images/cont.png);"></div>
                </div>
                <div>
                    <div class="d-flex justify-content-between">
                        <div>
                            <label>Process Drawing & Control Plan</label>
                            <div class="as-font-14">Frequency - 80%</div>
                            <div class="as-font-14">Proper Documents For Present Method</div>
                        </div>
                        <div class="legend-bg">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </div>
                    </div>
                   
                    <div class="d-flex justify-content-between">
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-select  matNativeControl required
                                    formControlName="shift_num"  panelClass="dropDown-seasons-panel">
                                    <mat-option value="all">All</mat-option>
          
                                    <mat-option  value="123">
                                        123
                                    </mat-option>
                                    <mat-option  value="123">
                                        123
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div>
                            <textarea  rows="2"  placeholder="Remarks"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="as-box-shadow mt-3 row align-items-center">
                <div>
                    01
                </div>
                <div class="check-img-div">
                    <div class="check-img" style="background-image: url(../../../assets/images/cont.png);"></div>
                </div>
                <div>
                    <div class="d-flex justify-content-between">
                        <div>
                            <label>Process Drawing & Control Plan</label>
                            <div class="as-font-14">Frequency - 80%</div>
                            <div class="as-font-14">Proper Documents For Present Method</div>
                        </div>
                        <div class="legend-bg">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </div>
                    </div>
                   
                    <div class="d-flex justify-content-between">
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-select  matNativeControl required
                                    formControlName="shift_num"  panelClass="dropDown-seasons-panel">
                                    <mat-option value="all">All</mat-option>
          
                                    <mat-option  value="123">
                                        123
                                    </mat-option>
                                    <mat-option  value="123">
                                        123
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div>
                            <textarea  rows="2"  placeholder="Remarks"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="legend"> 
                <div class="legend-icon">
                    <i class="fa fa-eye" aria-hidden="true"></i> <span>Visual Test</span> 
                </div>
                <div class="legend-icon d-flex">  <i class="fas fa-tools" style="background-image: url(../../../assets/images/Icon\ awesome-tools.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 25px;"> </i> <span>Tool Used Test</span> 
                </div>
                <div class="legend-icon"> <i class="fa fa-hand-paper-o" ></i>  <span>Manual Test</span>  
                </div>
                <div class="legend-icon"> <i class="fa fa-deaf" aria-hidden="true"></i> <span>Sound Test</span>  
                </div>
               
            </div>
        </div>

    </div>
    <div class="mx-4 d-flex approve">
        <div class="">
            <div>
                <label class="asfont-16 as-bold">Prepared By</label>
                <input type="text" id="password" value="Ajay Gupta" class="fadeIn third"  >
            </div>
           <div>
            <label class="asfont-16 as-bold"> Approved By</label>
            <input type="text" id="password" value="Praveen Pais" class="fadeIn third" >	
           </div>
        </div>
        <div class="as-mx-30">
            <label class="asfont-16 as-bold"> Abnormality Details</label>
            <div> <textarea  rows="4" cols="50"  placeholder="Remarks"></textarea></div>
           
        </div>
        <div class="as-align-center">
            <button type="submit" class="btn btn-blue">Submit</button>
           </div>
    </div>
</form>